body {
    font-family: sans-serif;
    background-image: url(bg.png);
    width: 800px;
    text-orientation: horizontal;
    margin: auto;
}

#top {
    text-align: center;
}

#logo {
    color: white;
    background-color: blueviolet;
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    padding: 8px;
    margin-top: 16px;
}

#logo-name {
    color: black;
    font-size: 40px;
    font-weight: bold;
    margin: 8px;
}

nav a {
    color: grey;
    background-color: black;
    margin: 5px;
    padding: 5px;
    text-align: right;
    text-decoration: none;
}

nav a.active {
    color: lightblue;
}

nav a:hover {
    color: blueviolet;
    border-radius: 6rem;
}

#navigation2 {}

#top-image {
    padding: 50px;
    display: block;
    margin-right: 50%;
    width: 50%;
}

#contacts {
    text-align: center;
    color: black;
    font-size: 40;
    font-weight: bold;
    margin: auto;
}

.images-contacts {
    /*Bilder in Mitte der Website*/
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    width: 80em;
    padding-top: 10%;
}

.fa-instagram-square {
    font-size: 5em;
    color: hotpink;
}

.fa-spotify {
    font-size: 5em;
    color: green;
}

.fa-twitch {
    font-size: 5em;
    color: purple;
}

#main {
    color: black;
    background-color: rgb(201, 151, 247);
    font-size: medium;
    margin-top: 50px;
    margin-right: 60%;
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#main a:hover {
    text-decoration: none;
}

#formular {
    color: black;
    font-size: medium;
    text-align: left;
    text-decoration: none;
}

input[type=text], select, textarea {
    width: 25%;
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: horizontal/* Allow the user to horizontally resize the textarea (not horizontally) */
}

/* Submit button */

input[type=submit] {
    background-color: #4CAF50;
    color: black;
    padding: 12px 20px;
    border: auto;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* background color/padding around the form */

.container {
    border-radius: 5px;
    background-color: #f2f2f200;
    padding: 5px;
    margin: auto;
}

#subject {
    text-align: left;
    color: black;
}

