* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: fantasy;
    
}
.background-image{
    background-image: url(pictures/Hintergrund2.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
.background-image2{
    background-image: url(pictures/Background.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
.background-image3{
    background-image: url(pictures/Background.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
}

.nav-area {
    list-style: none;
}

.nav-area li {
    display: inline-block;
    padding: 0 20px;
    text-transform: uppercase;
}

.nav-area li a {
    transition: .3s;
    color: #fff;
    margin-left: 300px;
}

.nav-area li a :hover {
    color: turquoise;
}

.nav-home {
    color: turquoise;
}

.nav-co {
    color: turquoise;
}

.nav-ue {
    color: turquoise;
}

.btn-area {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding: 10px 30px;
    /*Größe des Buttons*/
    border-radius: 5px;
    background: turquoise;
}

#firstpage {
    font-family: sans-serif;
    text-orientation: horizontal;
}

p {
    color: white;
    text-align: left;
    position: absolute;
    width: 100px;
    height: 50px;
    top: 2%;
    left: 2%;
}

h1 {
    font-size: 70px;
    color: white;
    text-decoration: solid;
    position: absolute;
    width: 100px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -135px;
    /* margin is -0.5 * dimension */
    margin-top: -25px;
}

h2 {
    font-size: 40px;
    color: white;
    text-decoration: solid;
    position: absolute;
    width: 100%;
    height: 50px;
    top: 60%;
    left: 50%;
    margin-left: -350px;
    /* margin is -0.5 * dimension */
    margin-top: -25px;
    padding-top: 20px;
    padding-bottom: 100px;
}

button {
    font-weight: 500;
    color: black;
    position: absolute;
    width: 100px;
    height: 50px;
    top: 70%;
    left: 50%;
    margin-left: -50px;
    /* margin is -0.5 * dimension */
    margin-top: -10px;
    /* Abstand zu h2 */
    border-radius: 0.5rem;
    border-style: none;
}

button:hover {
    background-color: rgb(180, 160, 160);
}