body {
    margin: 0;
    padding: 0;
    background-image: url(pictures/Login.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.formular {
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
}

.formular2 {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

#login {
    width: 320px;
    height: 420px;
    background: black;
    opacity: 95%;
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px, 30px;
    border-radius: 20px;
}

h1 {
    color: white;
    margin-top: 40px;
    margin-bottom: -50px;
    margin-left: 120px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    position: inherit;
}

h2 {
    color: white;
    margin-top: 10px;
    margin-bottom: -50px;
    margin-left: 120px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    position: inherit;
}

#login p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

#login input, button {
    width: 100%;
    margin-bottom: 20px;
}

#login input[type="text"], [type="password"] {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

#login button[id="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}

#login button[id="submit"]:hover {
    cursor: pointer;
    background: #ce1c1f;
    color: white;
}

#login button[id="registration"] {
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}

#login button[id="registration"]:hover {
    cursor: pointer;
    background: #ce1c1f;
    color: white;
}

#login a {
    text-decoration: none;
    font-size: 12px;
    color: darkgray;
}

#login a:hover {
    color: #fb2525;
}

#delete {
    margin-top: 700px;
    margin-left: 900px;
    border: none;
    outline: none;
    height: 40px;
    background: #382f2f;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    width: 120px;
}

#delete:hover {
    cursor: pointer;
    background: #262020;
}

.output {
    margin-left: 880px;
}