* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 2ms ease-in;
    font-family: sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web');
body {
    background: #474648;
    background-attachment: fixed;
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    background-color: #313131;
}

.nav-area {
    list-style: none;
    text-decoration: white;
}

.nav-area li {
    display: inline-block;
    padding: 0 20px;
    text-transform: uppercase;
}

.nav-area li a {
    transition: .2s;
    color: rgb(255, 255, 255);
    margin-left: 200px;
    text-decoration: none;
}

.nav-area a:hover {
    color: #fb2525;
}

.nav-home {
    color: #fb2525;
}

.nav-co {
    color: #fb2525;
}

.nav-ue {
    color: #fb2525;
}

h1 {
    font-family: sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: 2rem;
}

p {
    font-family: sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 2rem;
}

/* fonts  */

#container {
    box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
    background: rgba(255, 255, 255, 0.90);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin: 5em auto;
    height: 350px;
    width: 700px;
}

/* 	Product details  */

.product-details {
    position: relative;
    text-align: left;
    overflow: hidden;
    padding: 30px;
    height: 100%;
    float: left;
    width: 40%;
}

/* 	Product Name */

#container .product-details h1 {
    font-family: 'Old Standard TT', serif;
    display: inline-block;
    position: relative;
    font-size: 34px;
    color: #344055;
    margin: 0;
}

#container .product-details h1:before {
    position: absolute;
    content: '';
    right: 0%;
    top: 0%;
    transform: translate(25px, -15px);
    font-family: 'Farsan', cursive;
    display: inline-block;
    background: #fb2525;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    color: #FFF;
    margin: 0;
    animation: piupiu 6s ease infinite;
}

@keyframes piupiu {
    from {
        content: 'Recipe';
    }
    to {
        content: 'New';
    }
}

/* The most important information about the product */

#container .product-details p {
    font-family: 'Farsan', cursive;
    text-align: center;
    font-size: 15px;
    color: #7d7d7d;
}

/* control */

.control {
    position: absolute;
    bottom: 10%;
    left: 40%;
}

/* the Button */

.btn {
    transform: translateY(0px);
    transition: 0.3s linear;
    background: #333;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    border: none;
    color: #eee;
    padding: 0;
    margin-top: -50px;
}

.btn:hover {
    transform: translateY(-4px);
}

.btn span {
    font-family: 'Farsan', cursive;
    transition: transform 0.3s;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 0;
}

.btn .favorite {
    background: #333;
    border: 0;
    margin: 0;
}

/* the Icon */

.btn .favorite {
    transform: translateX(-100%);
    position: absolute;
    background: #333;
    z-index: 1;
    left: 0;
    top: 0;
}

/* buy */

.btn .buy {
    z-index: 3;
    font-weight: bolder;
}

.btn:hover .favorite {
    transform: translateX(33%);
    color: green;
}

/* product image  */

.product-image {
    transition: all 0.3s ease-out;
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 100%;
    float: right;
    width: 50%;
    display: inline-block;
}

#container img {
    width: 100%;
    height: 100%;
}

.info {
    background: rgba(27, 26, 26, 0.9);
    font-family: 'Farsan', cursive;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.9;
    text-align: left;
    font-size: 30%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.info h2 {
    text-align: center
}

.product-image:hover .info {
    transform: translateX(0);
}

.info ul li {
    transition: 0.3s ease;
}

.info ul li:hover {
    transform: translateX(50px) scale(1.3);
}

.product-image:hover img {
    transition: all 0.3s ease-out;
}

.product-image:hover img {
    transform: scale(1.2, 1.2);
}

.info li {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(69, 69, 69);
}

.reciepes img {
    width: 100%;
}

.nameReciepe {
    text-align: center;
    padding: 10px 20px;
}

.container-reciepe {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    padding: 7rem;
}

.reciepe-image {
    display: flex;
    margin: 2rem;
    align-items: center;
    flex-flow: column;
    position: relative;
    border: 2px solid red;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 254px;
}

.reciepe-image img {
    width: 250px;
}

.reciepe-image a {
    text-decoration: none;
    font-family: 'Farsan', cursive;
}

.btn-favorit {
    margin-left: 70px;
    font-size: 30px;
    border: none;
}

.fa-heart:hover {
    color: green;
}

.btn-delete {
    font-size: 50px;
    position: relative;
    border: none;
    width: 20px;
    height: 60px;
}

.btn-delete:hover {
    background-color: red;
    cursor: pointer;
}