* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #474648;
    background-attachment: fixed;
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    background-color: #313131;
    position: sticky;
}

.nav-area {
    list-style: none;
    text-decoration: white;
}

.nav-area li {
    display: inline-block;
    padding: 0 20px;
    text-transform: uppercase;
}

.nav-area li a {
    transition: .2s;
    color: rgb(255, 255, 255);
    margin-left: 200px;
    text-decoration: none;
}

.nav-area a:hover {
    color: #fb2525;
}

.nav-home {
    background-color: #000000;
    padding: 10px;
}

.nav-co {
    background-color: #000000;
    padding: 10px;
}

.nav-ue {
    background-color: #000000;
    padding: 10px;
}

.nav-login {
    background-color: rgb(0, 0, 0);
    padding: 10px;
}

.reciepes img {
    width: 100%;
}

div.nameReciepe {
    text-align: center;
    padding: 10px 20px;
}

.container-reciepe {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 7rem;
}

.reciepe-image {
    display: flex;
    align-items: center;
    flex-flow: column;
    position: relative;
    border: 2px solid #313131;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 254px;
}

.reciepe-image img {
    width: 250px;
}

.reciepe-image a {
    text-decoration: none;
    font-family: 'Farsan', cursive;
}

.btn-favorit {
    margin-left: 70px;
    font-size: 30px;
    border: none;
}

.fa-heart:hover {
    color: green;
}

.btn-delete {
    font-size: 50px;
    position: relative;
    border: none;
    width: 20px;
    height: 60px;
}

.btn-delete:hover {
    background-color: red;
    cursor: pointer;
}


@media screen and (max-width: 1024px) {
    /* IPad */
    header {
        display: flex;
        align-items: right;
        flex-flow: row;
        justify-content: space-between;
        padding: 30px 70px;
        background-color: #313131;
        position: sticky;
    }
    .nav-area {
        list-style: none;
        text-decoration: white;
    }
    .nav-area li {
        display: inline-block;
        padding: 0 2px;
        text-transform: uppercase;
    }
    .nav-area li a {
        transition: .2s;
        color: rgb(255, 255, 255);
        margin-left: 8px;
        text-decoration: none;
        font-size: 12px;
    }
    #container {
        border-radius: 5px;
        overflow: hidden;
        height: 350px;
        width: 700px;
        margin-right: 10rem;
    }
    .container-reciepe {
        justify-content: space-evenly;
        display: flex;
        align-items: center;
        padding: 2rem;
        margin-right: 8rem;
    }
    .reciepe-image {
        display: flex;
        margin: 2rem;
        align-items: center;
        flex-flow: column;
        position: relative;
        border: 2px solid #313131;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 254px;
    }
    .reciepe-image img {
        width: 250px;
    }
    h1 {
        font-size: 20px;
        margin-right: 200px;
    }
    .formular {
        margin-right: 200px;
    }
}

    @media screen and (max-width:812px) {
        /* IPhone x */
        header {
            display: flex;
            align-items: right;
            flex-flow: column;
            justify-content: space-between;
            padding: 30px 70px;
            background-color: #313131;
            position: sticky;
        }
        .nav-area {
            list-style: none;
            text-decoration: white;
        }
        .nav-area li {
            display: inline-block;
            padding: 0 2px;
            text-transform: uppercase;
            padding: 10px;
        }
        .nav-area li a {
            transition: .2s;
            color: rgb(255, 255, 255);
            margin-left: 18px;
            text-decoration: none;
        }
        p {
            font-size: 20px;
        }
        #container {
            border-radius: 5px;
            overflow: hidden;
            height: 200px;
            width: 400px;
            
        }
        .container-reciepe {
            justify-content: space-evenly;
            flex-flow: initial;
            display: flex;
            align-items: center;
            padding: 2rem;
            margin-left: 2rem;
            height: 200px;
            width: 100px;
        }
        .reciepe-image {
            display: flex;
            margin: 2rem;
            align-items: center;
            flex-flow: initial;
            border: 2px solid #313131;
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            width: 254px;
        }
        .reciepe-image img {
            width: 150px;
        }
        .nameReciepe {
            padding: 2rem;
        }
       
        a {
            font-size: 15px;
            margin-right: 20px;
        }
        .btn-favorit {
            margin-left: -25px;
        }
    }

    .btn-back{
        background-color: #5cbf2a;
        cursor: pointer;
    }
    .btn-back:hover{
        background-color: #4a9922;
        
    }