* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #474648;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    background-color: #313131;
}

.nav-area {
    list-style: none;
    text-decoration: white;
    
}

.nav-area li {
    display: inline-block;
    padding: 0 20px;
    text-transform: uppercase;
}

.nav-area li a {
    transition: .2s;
    color: rgb(255, 255, 255);
    margin-left: 200px;
}

.nav-area a:hover {
    color: #fb2525;
}

.nav-home {
    color: #fb2525;
}

.nav-co {
    color: #fb2525;
}

.nav-ue {
    color: #fb2525;
}

.formular input, textarea {
    outline: none;
    border-radius: 5px;
}

input[type=text]:focus {
    border: 2px solid #555;
}

.btn-newZutat {
    margin-top: 20px;
    background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    background-color: #44c767;
    border-radius: 28px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 18px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

.btn-newZutat:hover {
    background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
    background-color: #5cbf2a;
}

.btn-newZutat:active {
    position: relative;
    top: 1px;
}

#divZutat input{
    margin-left: 688px;
    text-align: center;
    display: block;
}

#zubereitung{
    margin-top: 20px;
}

#btn-hochladen {
    background-color: #44c767;
    border-radius: 28px;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 5px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}


.reciepes img {
    width: 100%;
}

.nameReciepe {
    text-align: center;
    padding: 10px 20px;
}

.container-reciepe {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.reciepe-image {
    display: flex;
    align-items: center;
    flex-flow: column;
    position: relative;
    border: 2px solid red;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:254px;

}

.reciepe-image img {
    width: 250px;
}

.reciepe-image a {
    text-decoration: none;
    font-family: 'Farsan', cursive;
}

.btn-favorit{
    margin-left: 70px;
    font-size: 30px;
    border: none;
}
.fa-heart:hover {
    color: green;
    cursor: pointer;
}