body {
    font-family: sans-serif;
    text-orientation: horizontal;
}

#heading {
    margin: auto;
    text-align: center;
}

.card {
    text-align: center;
    padding-left: 40%;
    margin: auto;
}

#Leben {
    background-color: green;
}

#Magie {
    background-color: blue;
}

#Ausdauer {
    background-color: yellow;
}

#Wut {
    background-color: red;
}

th, td {
    padding: 5px;
}

.button {
    line-break: auto;
    border: none;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #4CAF50;
}

.button:hover {
    background-color: #3d8f40;
}

.button2 {
    background-color: #008CBA;
}

.button2:hover {
    background-color: #027ba3;
}

.button3 {
    background-color: rgb(248, 248, 121);
}

.button3:hover {
    background-color: rgb(241, 241, 109);
}

.button4 {
    background-color: #f44336;
}

.button4:hover {
    background-color: #df3b30;
}

body{
    background-color: seagreen;
    width: 1100px;
    margin: auto;

}
h1{
    text-align: center;
    background-color: darkgreen;
    padding: 20px;

}


h2{

    text-align: center;
}

#auswahlBereich {
    display: flex;
    justify-content: center;
}

.teil {
    display: flex;
    flex-direction: column;
    margin: 15px;
    box-shadow: 10px 10px 5px 0px darkslategray;
    border: 1px solid rgb(43, 87, 41);
    background-color: rgb(55, 116, 40);
}

.teil span {
    text-align: center;
    font-style: italic;
    margin: 2px 0;
    font-size: larger;
}

.teil button {
    max-width: 100px;
    align-self: center;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: medium;
}

.teil image {
    width: 300px;
    height: 500px;
}