* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: fantasy;
    
}
.background-image{
    background-image: url(pictures/Hintergrund2.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

p {
    color: white;
    text-align: left;
    position: absolute;
    width: 100px;
    height: 50px;
    top: 2%;
    left: 2%;
}

button {
    font-weight: 500;
    color: black;
    display: inline;
    width: 100px;
    height: 50px;
    top: 70%;
    left: 50%;
    border-radius: 0.5rem;
    border-style: none;
}

.formular{
    text-align: center;
    margin-top: 100px;
}

#submit{
    margin: 50px;
}

#feedback{
    margin: 0px;
}
